*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "roboto",sans-serif;

}
body{
    width:100%;
    height:100vh;
   /* margin-bottom: -500px;*/
   overflow-x: hidden;
}
nav{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    
}
.nav-items{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 250px;

}
.active-item{
    font-size: 25px;
    font-weight: 900;
    color: #FE5E35;
}

 .nav-item{
    margin-left: 30px;
    font-size: 25px;
    font-weight: 100;
    padding: 0 12px;
    
}
nav img{
    margin-left: 40px;
}
.intro-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.left-section{
    margin-left: 40px;
}
.left-section h3{
    font-size: 40px;
    margin-top: 40px;
    font-weight: 300;
    
}
.left-section h1{
    font-weight: 900;
    font-size:50px ;
    
}
.sub-headlines{
    margin-left: 60px;
    margin-top: 20px;
}
.sub-headline{
    font-size: 20px;
}
.text{
    margin-top: 30px;
    font-weight: 100;
    padding-right: 150px;
    line-height: 35px;
}
.action-btn{
    border-radius:20px;
    color:#fff;
    background-color: #FE5E35;
    padding:10px 30px;
    border-color: transparent;
    margin-left: 10px;
}
.button{
    border-radius:20px;
    color:#fff;
    background-color: #FE5E35;
    padding:10px 30px;
    border-color: transparent;
    position: absolute;
    bottom: 30px;
    right: 260px;
}
.action-btns{
    margin-top: 40px;

}
 .headphone{
    margin-right: 80px;


}
.discount{
    width:130px;
    position:relative;
    bottom:170px;
    right:10px;
}
.discount-content{
    position:relative;
    bottom:265px;
    left:12px;
    color: #fff;
    
}
 .yellow-dot{
    background-color: yellow;
    border-radius: 50%;
    border-color: transparent;
    width:30px;
    height:30px; 
    margin-left: 30px;   
}
.tomato-dot{
    background-color: red;
    border-radius: 50%;
    border-color: transparent;
    width:30px;
    height:30px;
    margin-left: 20px;
}
.black-dot{
    background-color: black;
    border-radius:50%;
    border-color:transparent;
    width:30px;
    height:30px;
    margin-left: 20px;
}
.dots{
    position: relative;
    bottom:190px;
    left:150px;
}
.right-section .action-btn{
    position: relative;
    bottom:160px;
    left:140px;
    margin-left: 45px;
}
.menu-line{
    width:20px;
    height:3px;
    background-color: #000;
    margin-bottom: 4px;
    display: none;
    cursor: pointer;
}
/* Media Queries*/
@media  screen and (max-width:480px){
    
    .nav-items{
        display: none;
    }
    .logo{
        width: 70px;
    }
    .actions{
        margin-left: 0px;
       width: 250px;
    }
    .intro-section{
        display: flex;
        flex-direction: column;
       
    }
    .left-section h3{
        font-size: 25px;
    }
    .left-section h3 img{
        width: 30px;
    }
    .left-section h1{
        font-size: 30px;
        line-height: 35px;
        margin-top: 10px;
    }
    
    .sub-headline {
        font-size: 12px;
        position: relative;
        right: 50px;
    }
    .sub-headline img{
        width: 20px;
    }
    .text{
        padding-right: 90px;
        font-size: 15px;
        line-height: 25px;
    }
    .action-btns{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .action-btn{
        margin-top: 10px;
    }
    .discount{
        display: none;
    }
    .discount-content{
        display: none;
    }
    .headphone{
        display: none;
    }
    .dots{
        display: none;
    }
    .button{
        display: none;
    }
   
}

@media (min-width:481px) and (max-width:768px){
    .nav-items, .headphone, .button, .dots, .discount, .discount-content{
        display: none;
    }
    .intro-section{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
       
    } 
    .text{
       padding-right: 0px;
        font-size: 15px;
    }
    .left-section h3{
        font-size: 40px;
    }
    .left-section h1{
        font-size: 50px;
    }
   .actions{
    margin-left: 300px;
   }


}

